
{% extends 'upskill_photography/base.html' %}
{% load staticfiles %}

{% block title_block %}
   Home
{% endblock %}

{% block body_block %}
{% if pictures %}
<div id="carouselExampleIndicators" class="carousel slide w-75 mx-auto m-4" data-ride="carousel">
	<div class="carousel-indicators">
		<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 0"></button>
		{% for i in counter %}
		<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ i }}" aria-label="Slide {{ i }}"></button>
		{% endfor %}
	</div>
	
	<div class="carousel-inner border border-dark rounded">
		<div class="carousel-item active">
			<img src="{{ first_picture.image.url }}" class="w-100" alt="{{ first_picture.title }}">
		</div>
		{% for picture in pictures %}
		<div class="carousel-item">
			<img src="{{ picture.image.url }}" class="w-100" alt="{{ picture.title }}">
		</div>
		{% endfor %}
	</div>
</div>
{% endif %}

  {% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ picture.uploading_user }}</a>
              <small class="text-muted">{{ picture.timestamp|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' picture.picture_id %}">{{ picture.title }}</a></h2>
            <p class="article-content">{{ picture.image }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
{% endblock %}
