
{% extends 'upskill_photography/base.html' %}
{% load staticfiles %}

{% block title_block %}
   Home
{% endblock %}

{% block body_block %}
{% if pictures %}
<div class="w-75 mx-auto m-4">
	<h2 class="text-center"><strong>Our Best Pictures</strong></h2>
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			{% for i in counter %}
			<li data-target="#carouselExampleIndicators" data-slide-to="{{ i }}"></li>
			{% endfor %}
		</ol>
		
		<div class="carousel-inner border border-dark rounded">
			<div class="carousel-item active">
				<a href="{% url 'upskill_photography:picture_view' first_picture.uploading_user.user.username first_picture.picture_id %}">
					<img src="{{ first_picture.image.url }}" class="w-100" alt="{{ first_picture.title }}">
				</a>
				<div class="carousel-caption d-none d-md-block">
					<a href="{% url 'upskill_photography:userprofile' first_picture.uploading_user.user.username %}">
						<h5 class="text-dark" style="text-shadow: 1px 1px #ffffff"><strong>{{ first_picture.uploading_user.user.username }}</strong></h5>
					</a>
					<p class="text-dark" style="text-shadow: 1px 1px #ffffff"><strong>{{ first_picture.title }}</strong></p>
				</div>
			</div>
			{% for picture in pictures %}
			<div class="carousel-item">
				<a href="{% url 'upskill_photography:picture_view' picture.uploading_user.user.username picture.picture_id %}">
					<img src="{{ picture.image.url }}" class="w-100" alt="{{ picture.title }}">
				</a>
				<div class="carousel-caption d-none d-md-block">
					<a href="{% url 'upskill_photography:userprofile' picture.uploading_user.user.username %}">
						<h5 class="text-dark" style="text-shadow: 1px 1px #ffffff"><strong>{{ picture.uploading_user.user.username }}</strong></h5>
					</a>
					<p class="text-dark" style="text-shadow: 1px 1px #ffffff"><strong>{{ picture.title }}</strong></p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<p><a href="{% url 'upskill_photography:discovery' %}" class="text-dark"><h4 class="text-center"><strong>Discover More Pictures</strong></h4></a></p>
</div>
{% endif %}

  {% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ picture.uploading_user }}</a>
              <small class="text-muted">{{ picture.timestamp|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' picture.picture_id %}">{{ picture.title }}</a></h2>
            <p class="article-content">{{ picture.image }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
{% endblock %}
