{% extends 'upskill_photography/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Search Result
{% endblock %}

{% block body_block %}	
	<p><strong>{{ query }}</strong></p><br>
	{% if results %}
	<div class="row imagetiles">
		{% for picture in results %}
		<div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-xs-12" >
			<img src="{{ picture.thumbnail.url }}" class="img-thumbnail" alt="{{ picture.title }}">
			<p>{{ picture.title }}</p>
		</div>
		{% endfor %}
	</div>
	{% endif %}	
{% endblock %}